.topnav {
  overflow: hidden;
  background-color: aliceblue;
  color: blueviolet;
  box-shadow: 0px 0px 10px 5px rgb(207, 159, 253);
  border-radius: 7px;
}
  
  .topnav a {
    float: left;
    color: blueviolet;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    cursor: pointer;
  }
  
  .topnav a:hover {
    background-color: rgb(233, 212, 254);
    color: blueviolet ;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }

  .name{
    margin-left: 55rem;
  }

  .edt{
    position: absolute;
    z-index: 100;
    width: 98vw;
    height: 60vh;
    margin-top: 6rem;
    backdrop-filter: blur(25px);
}

.edt form{
    position: absolute;
    height: 395px;
    width: 400px;
    top: calc(50% - 180px);
    left: calc(50% - 200px);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    backdrop-filter: blur(25px);
    background: aliceblue;
    box-shadow: 0px 0px 10px 5px rgb(207, 159, 253);
    border-radius: 8px;
}

form input:first-child{
    margin-top: 1.5rem;
}

form input, .input{
    padding: 5px 12px;
    width: 75%;
    font-size: 15px;
    background: aliceblue;
    color: blueviolet;
    margin: 0 auto;
    outline: none;
    border: 2px solid blueviolet;
    border-radius: 0;
    border-top: none;
    border-right: none;
    border-left: none;
}

form input::placeholder{
  color: blueviolet;
  opacity: 0.7;
}

form button{
    width: 50%;
    margin: 0 auto;
    font-size: 16px;
    color: blueviolet;
    background: aliceblue;
    font-weight: bold;
    padding: 10px 0;
    border: 2px solid blueviolet;
    border-radius: 5px;
    cursor: pointer;
}
